.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to right, #defafe, #cffcf1);
}
.timer-container,
.timer-limit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timer-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/digital-timer-elapsed-bg.png');
  background-size: cover;
  height: 300px;
  width: 300px;
}

@media screen and (min-width: 768px) {
  .timer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.time-interval {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #00d9f5;
  margin: 0px;
}
.timer-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 100%;
  height: 150px;
  width: 150px;
}
.text {
  font-size: 18px;
  font-weight: bold;
}
.icon {
  width: 30px;
}
.button {
  border: none;
  background-color: transparent;
  font-size: 20px;
  margin: 10px;
  outline: none;
  cursor: pointer;
}
.button-container,
.pause-start-reset-container,
.increment-decrement-timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.timer-limit {
  background-image: url('https://assets.ccbp.in/frontend/react-js/digital-timer-elapsed-bg.png');
  background-size: cover;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}
