.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: #ffffff33;
  padding: 10px;
}
.navbar-containers {
  display: flex;
  flex-direction: row;
}
.emoji-game-logo {
  width: 40px;
  margin-left: 10px;
}
.emoji-game-navbar-heading {
  font-size: 20px;
  color: #ffffff;
}
.navbar-text {
  color: #ffffff;
  margin-left: 10px;
  font-weight: bold;
}
