.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-image: linear-gradient(to bottom, #2b2c49, #b5b9ff);
  margin: 15vh 30vw;
  padding: 20px;
  border-radius: 10px;
}
