.blog-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.blog-item-author {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-start;
}
.author-img {
  width: 20px;
  border-radius: 100px;
}
.blog-topic-img {
  width: 100%;
  height: 50vh;
}
