.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
}
.app-store-heading {
  color: #1e293b;
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .app-store-heading {
    font-size: 30px;
  }
}
.search-field-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #1e293b;
}
.search-input {
  color: #7b8794;
  width: 30vw;
  outline: none;
  border: none;
  background-color: transparent;
}
.search-icon {
  width: 20px;
}
.app-store-items {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 10px;
  margin-bottom: 10px;
}
