.question-option-card {
  background-color: #f4f1ea;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.active {
  background-color: #0e8684;
  color: #ffffff;
}
.button {
  border: none;
  background-color: transparent;
}
.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.option-title {
  color: #2e353d;
  font-size: 18px;
}
.cup-img {
  width: 20px;
}
.option-description {
  color: #2e353d;
  font-size: 15px;
}
.selected-option-title,
.selected-option-description {
  color: #ffffff;
}
