* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main-container {
  height: 100%;
  font-family: 'Roboto';
  background-color: #f4faff;
  padding: 20px 20%;
}
@media screen and (min-width: 769px) {
  .cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.heading {
  color: #171f46;
  text-align: center;
}
.description {
  color: #64748b;
  text-align: center;
}
