.question-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 3px 3px 5px 5px #cbd2d9;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
}
.span-ele {
  margin-right: 10px;
}
.question-text {
  font-size: 18px;
}
.drop-down-cap {
  width: 10px;
}

.button {
  outline: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 70px;
}
.text {
  font-size: 15px;
  margin: 0;
}
