.app-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-counter-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75%;
  width: 40%;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
}
.button {
  background-color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
