.app-container {
  background-image: linear-gradient(to bottom, #9796f0, #fbc7d4);
  min-height: 100vh;
}
.emoji-game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
