.faq-item-container {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #52606d;
  margin: 10px;

  width: 100%;
}
.question-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.faq-question {
  font-size: 18px;
  color: #52606d;
}
.img-icon {
  height: 20px;
  width: 20px;

  border-radius: 10px;
}
.button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.faq-ans {
  font-size: 16px;
  color: #52606d;
}
